################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/NBFramework/NB.Web/obj
/src/NBFramework/NB.Repository/obj
/src/NBFramework/NB.Mapping/obj
/src/NBFramework/NB.Domain/obj
/src/NBFramework/NB.Data/obj
/src/NBFramework/NB.Code/obj
/src/NBFramework/NB.Application/obj
/src/NBFramework/.vs
/.vs
/src/NBFramework/NB.Application/bin/Debug/netstandard2.0
/src/NBFramework/NB.Code/bin/Debug/netstandard2.0
/src/NBFramework/NB.Data/bin/Debug/netstandard2.0
/src/NBFramework/NB.Domain/bin/Debug/netstandard2.0
/src/NBFramework/NB.Repository/bin/Debug/netstandard2.0
/src/NBFramework/NB.Web/bin/Debug/netcoreapp2.0
